:root {
    --primary-color: #01ACB4;
    --secondary-color: #787C85;
    --bcg-color: #4B5056;
    --text-color: #FFFFFF;
    --primary-text: 'Baloo 2';
    --secondary-text: 'Nunito';
}
body {
    background: var(--bcg-color);
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    padding: 0 81px;
    margin: 0 auto;
}
/* wishlist */
.section-mywish {
    background: var(--secondary-color); 
}

.container-mywish {
    max-width: 1440px; 
    padding-top: 60px; 
    padding-bottom: 0; 
    margin: 0 auto auto;
}
.section-title {
    font-family: var(--primary-text);
    font-weight: 800;
    font-size: 40px;
    line-height: 1.6;
    color: var(--primary-color);   
}
.dropdown-card {
    display: none;
} 
.decor-min-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    mix-blend-mode: multiply;
}

.decor-max-circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--secondary-color);
    mix-blend-mode: multiply;
}
.box-title {
    max-width: 400px;
    width: 100%;
    text-align: center; 
    margin: 0 auto 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.mywish-img {
    width: 386px;
    height: 386px;
    border-radius: 6px;
}
.mywish-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.wishlist1 {
    margin-bottom: 60px;
}

.mywish-item {
    width: calc((100% - 120px)/3);
    position: relative;  
}


.mywish-item:hover .dropdown-card {
    display: block;
    width: 386px;
    height: 386px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    padding: 57px 30px 40px 30px;
    background: var(--primary-color);
    filter: drop-shadow(0px 10px 40px rgba(120, 124, 133, 0.4));
    position: absolute;
    top: 0;
    bottom: 0;

}



.mywish-text-card {
    font-family: var(--primary-text);
    font-weight: 800;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: var(--text-color);
    margin: 0 30px 40px;
}
.present-icon {
    margin-left: 139px;
    margin-bottom: 60px;
}
.store-link {
    font-family: var(--secondary-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin: 0;
}

.ellipses {
    max-width: 491px ;
    min-height: 160px;
    padding-top: 40px;
    position: relative;
    background: var(--secondary-color);
    margin: 0 393px 0;
}

.ellipse-big {
    width: 408px;
    height: 408px;
    border-radius: 50%;
    background: var(--secondary-color);
    mix-blend-mode: multiply;
    position: absolute;
    top: 40px;
}

.ellipse-little {
    width: 167px;
    height: 167px;
    border-radius: 50%;
    background: var(--secondary-color);
    mix-blend-mode: multiply;
    position: absolute;
    left: 324px;
}

.footer {
    background: var(--secondary-color);
}
.container-footer {
    max-width: 1440px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin: 0 auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name-mywish {
    font-family: var(--primary-text);
    color: var(--primary-color);
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    margin: 0;
}
.social-list {
    display: flex;
    gap: 10px;
}
.social-item {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
@media screen 
and (min-width: 375px) {
    .container {
        padding: 0 20px;
        margin: 0 auto;
        }
       
}
    
